<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 读取静态资源(样式) -->
    <mvc:resources location="/statics/" mapping="/statics/**" />
    
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
    	<property name="converters">
    		<list>
    			<bean class="com.taffle.tools.StringToDateConverter">
    				<constructor-arg type="java.lang.String" value="yyyy-MM-dd"/>
    			</bean>
    		</list>
    	</property>
    </bean>

	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
    		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
    			<property name="supportedMediaTypes">
    				<list>
    					<value>application/json;charset=UTF-8</value>
    				</list>
    			</property>
    		</bean>
    	</mvc:message-converters>
	</mvc:annotation-driven>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<context:component-scan base-package="com.taffle.controller"/>
	
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
			</props>
		</property>
	</bean>
	
	<!-- 文件上传配置multipart -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
   		 <property name="maxUploadSize" value="1048576"/>
   		 <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    
    <!-- 拦截器 -->
    <mvc:interceptors>
    	<!-- 限制不登录管理员账户就直接访问管理员功能 -->
    	<mvc:interceptor>
			<mvc:mapping path="/server/**"/>
    		<bean class="com.taffle.interceptor.ServerInterceptor" />
    	</mvc:interceptor>
    	<!-- 用户登录后才能使用客户端部分功能 -->
    	<mvc:interceptor>
    		<!-- 拦截个人信息 -->
			<mvc:mapping path="/client/client_view_person"/>
			<mvc:mapping path="/client/client_view_person/"/>
			<!-- 拦截用户设置 -->
			<mvc:mapping path="/client/client_update_person"/>
			<mvc:mapping path="/client/client_update_person/"/>
			<!-- 拦截密码修改-->
      		<mvc:mapping path="/client/client_user_alterpsw"/>
      		<mvc:mapping path="/client/client_user_alterpsw/"/>
      		<!-- 拦截添加商品到购物车-->
      		<mvc:mapping path="/client/addclient_cart/**"/>
      		<!--拦截支付功能-->
      		<mvc:mapping path="/client/client_pay"/>
      		<mvc:mapping path="/client/client_pay/"/>
      		<mvc:mapping path="/client_alter_otherphandad/**"/>
      		<mvc:mapping path="/client/client_alter_phandad"/>
      		<mvc:mapping path="/client/client_alter_phandad/"/>
      		<mvc:mapping path="/client/client_otherpay/**"/>
      		<mvc:mapping path="/client/client_billdetails/**"/>
      		<!--拦截显示订单详情-->
      		<mvc:mapping path="/client/client_bill/**"/>
      		<!--拦截评论-->
      		<mvc:mapping path="/client/client_goodscomment/**"/>
      		<mvc:mapping path="/client/client_add_blogasy/**"/>
      		<!--拦截联系我们-->
      		<mvc:mapping path="/client/client_view_contact"/>
      		<mvc:mapping path="/client/client_view_contact/"/>
    		<bean class="com.taffle.interceptor.ClientInterceptor" />
    	</mvc:interceptor> 
    </mvc:interceptors>
</beans>